@import './variables';

body {
  font-family: Nunito, sans-serif;
  font-size: 20px;
}

.header {
  border-bottom: 1px solid $grey-lighter;
  padding: 24px;

  .logo {
    float: right;
    color: $brand-accent;
    display: none;
  }

  .product {
    display: inline-block;
    cursor: pointer;

    .name {
      font-weight: bold;
      color: $brand-primary;
    }

    .category {
    }
  }
}
