$grey-light: #e2e2e2;
$grey-lighter: #efefef;
$grey-medium: #ccc;
$grey-dark: #aaa;
$ios-blue: #3a97ff;

$brand-primary: $ios-blue;
$brand-accent: #f61863; //#00e4c2;
$btn-primary-bg: $ios-blue;
$caption-size: 24px;

$chart-primary: $ios-blue;
$chart-secondary: #9ccbff;
$progressbar: #cee5ff;
