<template name="dashboard">
  <div class="page dashboard">
    <div class="header">
      GeAR Analytics Dashboard
    </div>
    <div class="widget">
      <div class="caption">Visits in March 2018</div>
      <canvas id="chart" class="chart"></canvas>
    </div>
  </div>
</template>