<template name="home">
  <div class="fullscreen-box">
    <div class="box-content">
      <div class="teaser">Claim gets here.</div>
      <div class="search">
        <!-- {{> searchWidget}} -->
      </div>
      <div class="drop-target">
        <div class="caption">
          Drop song
        </div>
      </div>
    </div>
    {{> logo}}
  </div>
</template>