body,
html {
  height: 100%;
}

.fullscreen-box {
  /* The image used */
  background-image: url("../images/home.background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .box-content {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 600px;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    color: white;

    .teaser {
      font-size: 40px;
      margin-bottom: 12px;
      text-shadow: white 0 0 10px;
    }

    .search {
      opacity: 0.8;

      .form-control {
        font-size: 24px;
        height: 52px;
      }

      i {
        font-size: 18px;
      }
    }

    .drop-target {
      background-color: transparentize(white, 0.7);
      border: 1px solid transparentize(white,0.5);
      margin-top: 50px;
      display: inline-block;
      display: none;
      height: 70px;
      width: 200px;
      position: relative;
      border-radius: 10px;

      .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  .logo {
    color: white;
    cursor: default;
  }
}
