<template name="guitar">
  <div class="page product product-details">
    <div class="header">
      <div class="product">
        Details
      </div>
    </div>
    <div class="section description">
      {{product.details.description}}
    </div>
    <div class="section featured-artist">
      {{#with product.details.featuredArtist}}
        <div class="caption">Featured Artist: {{name}}</div>
        <div class="description">{{description}}</div>
        <iframe src="{{video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      {{/with}}
    </div>
    <div class="section other-artists">
      <div class="caption">Other {{product.name}} players</div>
      {{#each tracklists}}
        <div class="artist">
          {{artist.name}}
        </div>
        <div class="tracklist">
          {{#each this}}
            <div class="track">{{this.title}}</div>
            <audio src="/empty.mp3" controls="true"></audio>
          {{/each}}
        </div>
      {{/each}}
    </div>
    <div class="section related-gear">
      <div class="caption">How it sounds with other gear</div>
      {{#each product.relatedGear}}
        {{#each combo}}
          <div class="product">
            <img src="{{image}}" /> {{name}}
            <audio src="/empty.mp3" controls="true"></audio>
          </div>
        {{/each}}
      {{/each}}
    </div>
  </div>
</template>