@import '{}/imports/styles/variables';

.page.product-details {
  .header {
    display: none;
  }
  .section {
    padding: 24px;
    font-size: 16px;
    .caption {
      font-size: 22px;
      color: $brand-primary;
      margin-bottom: 12px;
    }
    &.description {
      margin-top: 12px;
    }
    &.featured-artist {
      .description {
        margin-bottom: 32px;
      }
      iframe {
        width: 100%;
        height: 220px;
        max-width: 550px;
        @media (min-width: 800px) {
          height: 310px;
        }
      }
    }
    &.other-artists {
      .artist {
        font-weight: bold;
        margin-bottom: 12px;
        margin-top: 24px;
      }
      .tracklist {
        margin-bottom: 0px;
        .track {
          margin-bottom: 6px;
          audio {
            width: 100%;
          }
        }
      }
    }
    &.related-gear {
      .product {
        margin-bottom: 24px;
        padding-top: 12px;
        img {
          max-width: 100px;
          margin-right: 24px;
          margin-bottom: 24px;
        }
      }
    }
  }
}
