<template name="productHeader">
  <div class="header">
    {{> logo}}
    <div class="product">
      {{#with product}}
        <div class="name">{{name}}</div>
        <div class="category">{{category}}, {{color}}</div>
      {{/with}}
    </div>
  </div>
</template>