@import '{}/imports/styles/variables';

.page.product {
  height: 100vh;
}

.feature {
  background: white;
  .property,
  .value,
  .caption {
    padding: 0 24px;
  }
  .caption {
    background: $brand-primary;
    color: white;
    padding: 32px 24px;
    text-transform: uppercase;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: bold;
  }
  .property {
    font-size: 18px;
  }
  .value {
    padding-bottom: 32px;
    color: $brand-primary;
    font-size: 28px;
  }
}
