<template name="productFeature">
  <div class="page product">
    {{!-- {{> productHeader product=product}} --}}
    <div class="feature">
      <div class="caption">{{param 'part'}}</div>
      {{#with product}}
        {{#each feature}}
          <div class="property">{{property}}</div>
          <div class="value">{{value}}</div>
        {{/each}}
      {{/with}}
    </div>
  </div>
</template>